.sidebar {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 240px;
  padding-top: 16px;
}

.sidebar::before {
  content: '';
  position: absolute;
  top: 8px;
  right: 0;
  width: 1px;
  height: calc(100% - 16px);
  background-color: rgba(100, 121, 143, 0.122);
}

.sidebar-list {
  margin: 0;
  padding: 0;
}

.sidebar-link {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  width: calc(100% - 10px);
  height: 100%;
  padding: 0 16px;
  text-decoration: none;
}

.sidebar-link:link,
.sidebar-link:visited {
  color: inherit;
}

.sidebar-link--active,
.sidebar-link:hover {
  border-radius: 0 28px 28px 0;
  cursor: pointer;
}

.sidebar-link--active {
  background-color: #e8eaed;
}

.sidebar-link:hover {
  background-color: rgba(0, 0, 0, 0.08);
}
