.toolbar-container {
  position: relative;
  margin-top: 4px;
}

.toolbar-container::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 8px;
  width: calc(100% - 16px);
  height: 1px;
  background-color: rgba(100, 121, 143, 0.122);
}

.tooltip-action {
  width: 48px;
  height: 48px;
}

button.delete-forever {
  font-size: 15px;
  color: #5f6368;
  text-transform: initial;
}
