.messages-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.message-list {
  width: 100%;
}

li.message-item {
  padding: 0;
}

.message-item:hover {
  background-color: rgba(0, 0, 0, 0.08);
  cursor: pointer;
}

.message-link {
  display: block;
  width: 100%;
  height: 100%;
  padding: 8px 16px;
  text-decoration: none;
}

.message-link:link,
.message-link:visited {
  color: inherit;
}

.empty-messages {
  text-align: center;
  color: rgba(0, 0, 0, 0.4);
}
